fuzzywuzzy==0.18.0
imutils==0.5.4
mysql_connector_repackaged==0.3.1
numpy==1.17.4
opencv_contrib_python==4.5.1.48
pdfplumber==0.5.27
PyQt5==5.15.7
pytesseract==0.3.7
python_dateutil==2.8.2
python_qt_binding==0.4.4
PyYAML==6.0
regex==2022.9.13
